<%# if logged_in? %>
  <p>ログイン完了ユーザ: <%#= current_user.username %></p>
<%# else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the <i class="fas fa-cat"></i>Nyanstagram</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<%# end %>